@import "tailwindcss";
@source "./components";

body {
  @apply bg-[#011419] text-gray-100 font-sans;
  font-family: 'Inter', sans-serif;
}

/* Regras Nativas do Electron para a Janela */
.titlebar-drag {
  -webkit-app-region: drag;
}

.titlebar-nodrag {
  -webkit-app-region: no-drag;
}

/* Scrollbar Customization */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #011419;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #1a2d32;
}

/* Garantia extra de que o hidden sempre vai funcionar */
@layer utilities {
  .hidden {
    display: none !important;
  }
}